<h1>{{model.title}}</h1>

<h3>{{model.location}}</h3>

<p>{{model.user}}</p>
<p>{{format-date model.date_added}}</p>
<p>{{model.details}}</p>

{{update-listing listing=model updateListing="updateListing"}}
<button {{action "destroyListing" model}}>Delete</button>
