<div class="container index">
  <div class="mini">
    <h1>{{model.title}}</h1>

    <h3>{{model.location}}</h3>
    <h3>{{model.details}}</h3>
    <p>Posted by {{model.user}} on {{format-date model.date_added}}</p>
    <br>

    {{update-listing listing=model updateListing="updateListing"}}
    <button class="btn btn-default btn-md outline"{{action "destroyListing" model}}>Delete</button>
  </div>

  {{#link-to 'index'}}Home{{/link-to}}
</div>
